{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the PC parts store where you can buy a variety of computer parts to build your own!
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - PC Depot
    {% else %}
        PC Depot 2022&copy
    {% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
    {% if category %}
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shop:all_products' %}">Our PC Part Collection</a> | {{category.name}}</p>
        </div>
    </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
        </div>
        <br>
        <div>
            <h1 class="text-center my_title">{{category.name}}</h1>
            <p class="text-justify">{{category.description}}</p>
        </div>
    {% else %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for object in slider%}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{{object.image.url}}" style="height:500px;" class="testi-overly d-block w-100" alt="sliderImg">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="animate__animated
                    {% if forloop.counter0 == 0 %}
                    animate__fadeInDown
                    {% endif %}
                    {% if forloop.revcounter == 1 %}
                    animate__bounce
                    {% endif %}
                    {% if forloop.revcounter == 2 %}
                    animate__fadeInRight
                    {% endif %}">{{object.title}}</h1>
                    <h3 class="animate__animated animate__zoomIn">{{object.sub_title}}</h3>
                    <a href="{{object.link}}" class="button animate__animated animate__zoomIn mt-3 py-3 px-5 btn font-weight-bold">{{object.action_name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        
    </div>
    <br>
    <div>
            <h1 class="text-center my_title">Our PC Part Collection</h1>
            <p class="text-justify">Are you looking to build your own Personal Computer and do not know where to purchase the best high-quality parts? You have come to the right place as we have a variety of products that are available at an affordable price.</p>
    </div>
    {% endif %}
        <div class="container">
            <div class="row mx-auto">
                {% for product in prods %}
                    <div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4">
                        <div class="card text-center" style="min-width:18rem;">
                            <a class ="img" href="{{product.get_absolute_url}}"><img class="card-img-topmy_image"src="{{product.image_thumbnail.url}}" alt="{{product.name}}"></a>
                            <div class="card-body">
                                <h4>{{product.name}}</h4>
                                <p>€{{product.price}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mx-auto">
                {% if prods.paginator.num_pages > 1 %}
                    <hr>
                    <div class="text-center">
                        {% for pg in prods.paginator.page_range %}
                            <a href="?page={{pg}}" class="btn btn-light btn-sm {%
                            if products.number == pg %}active{% endif
                            %}">{{pg}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        <br>
    </div>
{% endblock %}